<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Remiss Express</title>
</head>
<body class="principal">

    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('inicio')}}">Remiss Express</a>       
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                   
                    <a class="btn btn-outline-light" href="{{url_for('iniciar_sesion')}}">Iniciar sesion</a>
                </div>
                </div>
            </div>
        </nav>       
    </header>


    </div>
        <img src="/static/img/background/inicio.jpg" class="d-block w-100 pic" alt="...">
            <div class="carousel-caption">
                <h1>Inicia sesion ahora</h1><br><br>
                <p>Tu remis en tu puerta con solo un click!</p><br>
                <p>Viaja seguro</p><br>
                <p>Descuentos y precios unicos!</p>
            </div>
            </div>
</body>
</html>